.App {
  text-align: center;
}

.page-container{
  padding-top: 20px;
  text-align: center;
  background-color: rgb(80, 0, 0);

  min-height: 100%;
  height:150px;
  width:100%;

  position: fixed;
  top:0;
  left:0;

}

.login_box {
   width: 30%;
   justify-content: center;
   text-align: center;
   color: white;
   margin: 10px auto;
   background-color: rgb(128 128 128);
   border-color: rgb(0 0 0);
   border-width: 3px;
   border-style: solid;
   padding-bottom: 5px;
}

.entry_box {
  width: 90%;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 10px auto;
  background-color: rgb(0, 200, 255);
  border-color: rgb(0, 150, 255);
  border-width: 3px;
  border-style: solid;
  padding-bottom: 25px;
}

.entries_container {
  width: 85%;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
  background-color: lightcyan;
  border-color: black;
  border-width: 3px;
  border-style: solid;

  height:75%;
  overflow-y:auto;
}

.entry {
  width: 98%;
  text-align: left;
  padding-left:10px;
  margin: 5px auto;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  min-height: 50px;
}

.post{
  color:white;
  background-color: rgb(0, 200, 255);
  border-radius: 20px;
  width:20%;
  border-color: rgb(0, 150, 255);
  float:right;
  margin-right: 30px;
}

.login {
   color: white;
   background-color: rgb(128 128 128);
   width: 20%;
   border-color: rgb(0, 0, 0);
   margin-right: 30px;
}
.register {
   color: white;
   background-color: rgb(0, 200, 255);
   width: 20%;
   border-color: rgb(0, 150, 255);
}

textarea[name=text]{
  width:95%;
  border-color: rgb(0, 150, 255);
  resize:none;
  margin-top:5px;
}

textarea[name=login] {
   width: 70%;
   color:white;
   border-color: rgb(0, 0, 0);
   background-color: rgb(128 128 128);
   resize: none;
   margin-top: 3px;
}

textarea[name=login]::placeholder {
   color:white;
}

li {
  list-style-type: none;
}


